<h1> Trip #<%= @trip[:id]%> Details </h1>

<p>Driver ID: <%= link_to "#{@trip[:driver_id]}", driver_path(@trip[:driver_id]) %></p>
<p>Rider ID: <%= link_to "#{@trip[:rider_id]}", rider_path(@trip[:rider_id]) %></p>
<p>Date: <%= @trip[:date]%></p>
<p>Cost: $<%= @trip[:cost]%></p>
<p>Rating: <%= @trip[:rating]%></p>

<%= link_to 'Delete', trip_path(params[:id]), data: {:confirm => 'You sure?'}, :method => :delete%>
<%= link_to "Edit this trip", edit_trip_path %>
