<section>
  <%= form_for @rider do |f| %>
    Name: <%= f.text_field :name %>
    Phone Number: <%= f.text_field :phone_num %>
    <%= f.submit value: "#{submit_text} Rider" %>
  <% end %>
</section>
<section>
<% if @rider.errors.any? %>
  <% @rider.errors.each do |attribute, message| %>
    <%= attribute.capitalize %> <%= message %>
  <% end %>
<% end %>
</section>
