  <%= form_for @rider do |f| %>
  Name:  <%= f.text_field :name %>
  Phone Number: <%= f.telephone_field :phone_num %>
    <%= f.submit value: "#{submit_text} Rider" %>
  <% end %>

<section>
<% if @rider.errors.any? %>
  <% @rider.errors.each do |attribute, message| %>
    <%= attribute.capitalize %> <%= message %>
  <% end %>
<% end %>
</section>

<div><%= link_to "Rider List", riders_path %></div>
