<% @rider.trips.each do |trip| %>
    <li>
      <p>Trip ID: <%= link_to trip.id, trip_path(trip.id)%></p>
      <p>Trip Date: <%= trip.date %></p>
      <p>Driver ID: <%= trip.driver_id %></p>
      <p>Cost: $<%= trip.cost %></p>
      <p>

        <%= form_for trip, url: update_rating_path(trip) do |t| %>
        Rating(1-5): <%= t.number_field :rating%>
        <%= t.submit "Update Rating" %>
        <% end %>

        <% if trip.errors.any? %>
          <% trip.errors.each do |attribute, message| %>
             <%= message %>
          <% end %>
        <% end %>
      </p>
    </li>
  <% end %>
