<%= link_to "Return to the previous page", :back %>
<h1><%= @rider.name %></h1>
<h2>Phone number: <%= @rider.phone_num%></h2>
<h2>Trips: </h2>
<% @trips = @rider.trips.order(:date) %>
<ol>
  <% if @rider.trips.empty?%>
  <%= "No rides history" %>
  <% else %>
  <%= render partial: "rider_detail", locals: { rider: @rider, trips: @trips } %>
  <% end %>
</ol>

<h2><%= "Total amount this rider has been charged: $#{@rider.total_cost}" %></h2>

<%= link_to "New Trip", new_trip_path(@rider.id), method: :post %>
<%= link_to "Edit", edit_rider_path(@rider.id) %>
<%= link_to "Delete", rider_path(@rider.id), method: :delete, data: {confirm: "Are you sure to delete rider #{@rider.name}?"}%>
<%= link_to "Go back to Rider List", riders_path %>
<%= link_to "New rider", new_rider_path%>
