<h1><%= @rider.name %></h1>
<h2>Phone number: <%= @rider.phone_num%></h2>
<h2>Trips: </h2>
<ol>
  <% total = 0 %>
  <% if @rider.trips.empty?%>
  <%= "No rides history" %>
  <% else %>
  <% @trips = @rider.trips.order(:date) %>
  <% @trips.each do |trip| %>

  <li>
  <p><%= link_to trip.date, trip_path(trip.id)%></p>
  <p>Driver ID: <%= trip.driver_id %></p>
  <p>Cost: $<%= trip.cost %></p>
  </li>
  <% total += trip.cost %>
  <% end %>

  <%end%>
</ol>
<h2><%= "Total amount this rider has been charged: $#{total}" %></h2>

<%= link_to "New Trip", new_trip_path(@rider.id), method: :post %>
<%= link_to "Edit", edit_rider_path(@rider.id) %>
<%= link_to "Delete", rider_path(@rider.id), method: :delete, data: {confirm: "Are you sure to delete rider #{@rider.name}?"}%>
<%= link_to "Go back to Rider List", riders_path %>
<%= link_to "New rider", new_rider_path%>
