<%= link_to "Return to the previous page", :back %>
<h1><%= @rider.name %></h1>

<h2>Phone number: <%= @rider.phone_num%></h2>

<h2>Trips: </h2>

<ol>
  <% if @rider.trips.empty?%>
  <%= "#{@rider.name} has no trips" %>
  <% else %>
  <% @rider.trips.sort_by{|t| t.date}.each do |trip| %>
      <li>
        <p>Trip ID: <%= link_to trip.id, trip_path(trip.id)%></p>
        <p>Trip Date: <%= trip.date %></p>
        <p>Driver ID: <%= trip.driver_id %></p>
        <p>Cost: $<%= trip.cost %></p>
        <p>
          <%= form_for trip do |t| %>
          Rating(1-5): <%= t.number_field :rating%>
          <%= t.submit "Update Rating" %>
          <% end %>

          <% if trip.errors.any? %>
            <% trip.errors.each do |attribute, message| %>
               <%= message %>
            <% end %>
          <% end %>
        </p>
      </li>
    <% end %>
  <% end %>
</ol>

<h2><%= "Total amount this rider has been charged: $#{@rider.total_cost}" %></h2>

<%= link_to "New Trip", new_trip_path(@rider.id), method: :post %>
<%= link_to "Edit", edit_rider_path(@rider.id) %>
<%= link_to "Delete", rider_path(@rider.id), method: :delete, data: {confirm: "Are you sure to delete rider #{@rider.name}?"}%>
<%= link_to "Go back to Rider List", riders_path %>
<%= link_to "New rider", new_rider_path%>
