<h1> <%= @driver[:name] %>'s Profile </h1>

<h2>VIN: <%= @driver[:vin] %></h2>
  <% if @driver.driver_trips.empty? %>
    <h2><%= @driver[:name] %> has no trips yet </h2>
  <%else%>
    <h2>Total Earnings: $<%= @driver.earnings%> from <%= @driver.trips.count %> trips </h2>
    <h2>Average Rating: <%= @driver.rating%> out of 5 </h2>
  <%end%>

  <%= link_to 'Delete', driver_path(params[:id]), data: {:confirm => 'You sure?'}, :method => :delete%>
  <%= link_to "Edit this driver", edit_driver_path %>

<h2>Trips:</h2>
  <ul>
    <% @driver.driver_trips.sort_by{|t| t.date}.reverse.each do |trip| %>
    <li>
    <p> <%= link_to "Trip ID: #{trip[:id]}" , trip_path(trip[:id])%></p>
    <p>Rider ID: <%= trip[:rider_id] %></p>
    <p>Date: <%= trip[:date]%></p>
    <p>Cost: $<%= trip[:cost]%></p>
    <p>Rating: <%= trip[:rating]%></p>
  </li>
  <%end%>
</ul>
