<h1> <%= @driver[:name] %>'s Profile </h1>

<p>VIN: <%= @driver[:vin] %>
  <% if @driver.driver_trips.empty? %>
    <p><%= @driver[:name] %> has no trips yet </p>
  <%else%>
    <p>Total Earnings: $<%= @driver.earnings%>
    <p>Average Rating: <%= @driver.rating%> out of 5 </p>
  <%end%>

  <ul>
    <% @driver.driver_trips.each do |trip| %>
    <li>
    <p> <%= link_to "Trip ID: #{trip[:id]}" , trip_path(trip[:id])%></p>
    <p>Rider ID: <%= trip[:rider_id] %></p>
    <p>Date: <%= trip[:date]%></p>
    <p>Cost: $<%= trip[:cost]%></p>
    <p>Rating: <%= trip[:rating]%></p>
  </li>
  <%end%>
</ul>


<%= link_to 'Delete', driver_path(params[:id]), data: {:confirm => 'You sure?'}, :method => :delete%>
<%= link_to "Edit this driver", edit_driver_path %>
<%= link_to "Back to driver list", drivers_path %>
