<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Drivers", drivers_path %>
      <%= link_to 'New Driver', new_driver_path %>

      <%= link_to "Riders", riders_path %>
      <%= link_to "New rider", new_rider_path%>
    </nav>
    <%= yield %>
  </body>
</html>
